@import "tailwindcss";

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 320px;
}
